.post{
    border: 1px solid var(--color-db);
    border-radius: 3px;
    
    margin-bottom: 60px;
    position: relative;
    
    background-color: #fff;
}

.header-post{
    height: 60px;
    
    display: flex;
    align-items: center;
    
    position: relative;

    background-color: #fff;
}

.header-post img{
    width: 32px;

    position: absolute;
    left: 17px;
    border-radius: 50%;
}

.header-post span{
    position: absolute;
    left: 64px;
}

.header-post ion-icon{
    position: absolute;
    right: 18px;
    font-size: 20px;
}

.post-photo .video{
    width: 100%;
}

.post-photo .stickman, .post-photo img{
    width: 100%;
}

.footer-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-interactivity{
    width: 95%;
    height: 38px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interactivity{
    width: 88px;

    display: flex;
    justify-content: space-between;
}

.like{
    width: 95%;
    height: 32px;

    margin-bottom: 6px;

    display: flex;
    align-items: center;
}

.like img{
    width: 20px;
    height: 20px;
}

.like p{
    margin-left: 5px;
    
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.like span{
    font-weight: 500;
}

.post ion-icon{
    font-size: 20px;
    cursor: pointer;
}

.header-post img, .header-post span{
    cursor: pointer;
}