@media(max-width: 935px){
    .content{
        width: 100%;
        justify-content: center;
    }

    .header-container{
        width: 95%;
    }
}

@media(max-width: 614px){
    .search, .compass, .heart, .person, .vertical-line-home, .scroll{
        display: none;
    }

    .logo-instagram-name{
        position: absolute;
        left: 40%;
    }

    .header-container .top-menu{
        width: 20px;
    }

    .feed, .post-photo img{
        width: 100%;
    }
}